nav{
    background-color: black;
    
}

h1{
    color: white;
}

.anav{
    color: white;
    text-decoration: none;
}

body{
    background-image: url(assets/Images/Legends\ Never\ Die\ -\ Juice\ WRLD.jpg);
}