nav{
    background-color: black;
    
}

h1{
    color: white;
}

.anav{
    color: white;
    text-decoration: none;
}

body{
    background-image: url(assets/Images/Legends\ Never\ Die\ -\ Juice\ WRLD.jpg);
    position: relative;
}

.custom-carousel-container{
    width: 1200px;
    position: absolute;
    top: 200px;
    left: 275px;
    z-index: 1;
}

.card-left-top{
    position: absolute;
    top: 100px;
    left: 50px;
}

.card-left-under{
    position: absolute;
    top: 100px;
    left: 1500px
}